.section-4 {
  display: flex;
  width: 1440px;
  height: 1842px;
  background: #222;
  margin: 0 auto;

  h2 {
    margin-top: 120px;
    margin-left: 140px;
    color: #ff4c0d;
    font-family: "Gilyor", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }

  .section-4-cards {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 394px;

    .section-card {
      display: flex;
      margin-left: 140px;
      width: 460px;
      height: 294px;
      border-radius: 15px;
      background: #151515;

      .section-box {
        margin-top: 15px;
        margin-left: 25px;

        h4 {
          color: #f1f1f1;
          font-family: "Gilyor", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
        }

        p {
          margin-top: 10px;
          color: #f1f1f1;
          font-family: Gilroy;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
      }
    }

    .section-4-btns {
      display: flex;
      width: 100%;
      height: 54px;

      .section-4-btn {
        margin-left: 140px;
        width: 189px;
        height: 54px;
        padding: 15px 35px;
        border-radius: 65px;
        background: #f1f1f1;
        border: none;
        color: #151515;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }

      img {
        margin-left: 700px;
      }
    }
  }
  .section-4-info {
    display: flex;
    width: 100%;
    height: 660px;

    .section-4-info-left {
      width: 40%;
      height: 100%;

      h2 {
        color: #ff4c0d;
        font-family: "Gilyor", sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
      }

      p {
        margin-left: 140px;
        width: 360px;
        color: #f1f1f1;
        font-family: "Gilyor", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.14px;
      }

      .section-4-info-btn {
        margin-top: 50px;
        margin-left: 140px;
        width: 183px;
        height: 54px;
        border-radius: 65px;
        background: #f1f1f1;
        color: #151515;
        font-family: "Gilyor", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }
    }

    .section-4-info-right {
      margin-left: 70px;
      width: 50%;
      height: 100%;

      .section-4-right-info {
        margin-top: 120px;
        width: 660px;
        height: 474px;
        row-gap: 80px;

        .section-main-info {
          h3 {
            color: #f1f1f1;
            font-family: "Gilyor", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
          }

          p {
            color: #f1f1f1;
            font-family: "Gilyor", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.14px;
          }
        }
      }
    }
  }
  .section-4-bottom {
    position: relative;
    width: 100%;
    height: 580px;
    border: 1px solid #222;

    .section-4-bg {
      margin-top: -80px;
      width: 1440px;
      height: 1466px;
      background-image: url(../images/Path1.png);
      background-repeat: no-repeat;
      background-size: 100%;

      .section-4-card {
        display: flex;
        position: absolute;
        top: 100px;
        left: 150px;
        width: 1160px;
        height: 450px;
        background: #151515;
        border-radius: 15px;

        .section-4-card-left {
          width: 50%;
          height: 100%;

          h3 {
            margin-left: 50px;
            color: #f1f1f1;
            font-family: "Gilyor", sans-serif;
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;

            span {
              color: #ff4c0d;
              font-family: "Gilyor", sans-serif;
              font-size: 30px;
              font-style: normal;
              font-weight: 600;
              line-height: 120%;
            }
          }

          .section-4-btns {
            margin-left: 50px;
            display: flex;

            .sec-4-btn-1 {
              width: 118px;
              height: 54px;
              border-radius: 65px;
              background: #f1f1f1;
              color: #151515;
              font-family: "Gilyor", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%;
            }

            .sec-4-btn-2 {
              width: 118px;
              height: 54px;
              border-radius: 65px;
              background: none;
              border: 3px solid #f1f1f1;
              color: #f1f1f1;
              font-family: "Gilyor", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%;
            }
          }
          .sec-btn {
            margin-top: 90px;
            margin-left: 50px;
            width: 122px;
            height: 54px;
            border-radius: 65px;
            background: #ff4c0d;
            color: #fff;
            font-family: "Gilyor", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            border: none;
          }
        }

        .section-4-card-right {
          width: 50%;
          height: 100%;

          .section-4-card-bg {
            margin-top: -80px;
            margin-left: -175px;
            width: 756px;
            height: 680px;
            background-image: url(../images/minibike.png);
            background-repeat: no-repeat;
            background-size: 100%;

            .section-4-card-bg-info {
              position: absolute;
              top: 30px;
              left: 850px;
              width: 200px;
              height: 256px;

              h3 {
                color: #fff;
                font-family: "Gilyor", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
              }

              p {
                color:  #fff;

                /* Desktop/body */
                font-family: "Gilyor", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
              }
            }
          }
        }
      }
    }
  }
}
